.form {
	width: 100vw;
	height: 90vh;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.formContainer {
	height: 100%;
	width: 70vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.item1 {
	display: flex;
	justify-content: space-between;
}

.item2 {
	display: flex;
	justify-content: space-between;
}

.item3 {
	display: flex;
	justify-content: space-between;
}

.item4 {
	display: flex;
	justify-content: center;
}

.item1,
.item2,
.item3,
.item4 {
	margin: 1em;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 3rem;
}

.input {
	width: 40%;
	height: 40px;
	font-size: 1em;
	margin: 0.2em 0;
	border-radius: 10px;
	border: 2px solid black;
	outline: none;
	padding: 0 1em;
}

.input:hover {
	border: 2px solid darkslateblue;
}

.output {
	width: 40%;
	height: 40px;
	font-size: 1em;
	margin: 0.2em 0;
	border-radius: 10px;
	border: none;
	background-color: lightgray;
	padding: 0 1em;
	color: darkred;
	font-weight: bolder;
}

.opt_1,
.opt_2 {
	width: 40%;
}

@media only screen and (max-width: 768px) {
	.app {
		width: 100%;
	}
	h2 {
		font-size: 1rem;
	}
}
